.feature {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px 20px 25px 30px;
    font-family: 'Arial', sans-serif;
    border-left: 8px solid green;
  }
  .bug {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px 20px 25px 30px;
    font-family: 'Arial', sans-serif;
    border-left: 8px solid red;
}
  p{
    font-size: 0.7rem;
    color: #595959;
    margin-bottom: 5px;
  }
  .titleDelete{
    display: flex;
    flex-direction: row;
  }
  .delete{
    margin-left: auto;
    cursor: pointer;
    color: red;
    font-size: 20px;
    font-weight: bolder;
  }
  .title {
    color: #374151;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .content {
    margin-top: bottom;
    font-size: 13px;
  }